@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    font-family: "Rubik", sans-serif;
}

:root {
    --dark-blue: hsl(212, 24%, 26%);
    --grayish-blue: hsl(211, 10%, 45%);
    --light-gray: hsl(223, 19%, 93%);
    --very-light-gray: hsl(228, 33%, 97%);
    --pale-red: hsl(357, 100%, 86%);
    --light-grayish-blue: hsl(239, 57%, 85%);
    --soft-red: hsl(358, 79%, 66%);
    --moderate-blue: hsl(238, 40%, 52%);
}

.comment-container{
    background-color: white;
    display: flex;
    margin: 15px 0px;
    border-radius: 7px;
    /* width: 100%; */
}


.upvote-container{
    display: flex;
    flex-direction: column;
    padding: 10px 15px 10px 15px;
    align-items: center;
    justify-content: center;
    button{
        border: none;
        background-color: transparent;
        
    }
}

.inner-comment-container{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
}

.inner-comment-tags{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px 20px 10px 0px;
    gap: 10px;

    img{
        width: 40px;
    }

    .inner-comment-tags-text{
        display: flex;
        flex-direction: row;
        margin-left: 10px;
        span{
            margin: 0px 5px;
        }
    }

    .inner-comment-tags-reply:hover{
        cursor: pointer;
    }
    /* button{
        margin-left: auto;
        padding: 10px 20px;
        background-color: lightblue;
        border: none;
        cursor: pointer;
        align-items: center;
        img{
            height: 20px;
            width: 20px;

        }
    } */
}

.inner-comment-tags .inner-comment-tags-reply{
    display: flex;
    gap: 5px;
    align-items: center;
    margin-left: auto;
    color: var(--moderate-blue);
    font-weight: 500;
    img{
        width: 15px;
        height: 15px;
    }
}



.inner-comment-text{
    height: auto;
    color: var(--grayish-blue);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5em;
    overflow: hidden;
}

.inner-comment-edit-delete{
    display: flex;
    margin-left: 10px;
    flex-direction: row;
    gap: 15px;
}

.inner-edit{
    display: flex;
    flex-direction: column;
    width: auto;
}

.create-edit-input{
    overflow:auto;
    width: 90%;
    height: 70%; /* Adjust height as needed */
    padding: 4px; /* Adjust padding to ensure text is at the top */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    resize: none; /* Prevent resizing if desired */
    vertical-align: top;
    margin: 0px 20px;
    border-radius: 5px;
    outline: none;
    resize: none
}

.inner-edit-update-container{
    display: flex;
    justify-content: flex-end;
}

.inner-edit-update-button{
    margin-right: 42px;
    margin-bottom: 20px;
    margin-top: -10px;
    height: 35px;
    width: 80px;
    border: none;
    border-radius: 5px;
    background-color: var(--moderate-blue);
    color: white

}

.inner-reply-container{
    display: flex;
    flex-direction: row;
}

.inner-reply-bar{
    height: auto;
    background-color: lightgray;
    padding: 0px 1px 0px 1px;
    margin: 0px 25px;
    /* width: 40px; */
}


.inner-reply-comment-section{
    flex-grow: 1;
}