.main-container{
    display:flex;
    flex-direction:column;
    height: auto !important;
    width: 720px;
}

.comment-reply-container{
    display: flex;  
    flex-direction: column;
    width: auto;
}

