.main-container{
    display: flex;
    flex-direction: column;
    top: 0;
    width: 720px;
    height: 100vh;
    padding: 10px;
}

.comment-reply-container{
    display: flex;  
    flex-direction: column;
}

.inner-reply-container{
    display: flex;
    flex-direction: row;
}

.inner-reply-bar{
    display: flex;
    height: auto;
    background-color: lightgray;
    padding: 0px 1px; 
    margin: 0px 50px;
}


.inner-reply-comment-section{
    flex: 1;
}